* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#comment-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  height: 100%;
}

h1 {
  text-align: center;
}

button {
  width: 100px;
  height: fit-content;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

form textarea {
  width: 80%;
  padding: 8px;
  border-color: #e1e3e5;
  border-radius: 6px;
  border-width: 1.5px;
}

form button {
  background-color: #007bff;
  color: white;
}

form button:hover {
  background-color: #3898ff;
}

#newComments li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #e1e3e5;
  border-radius: 8px;
  padding: 8px;
  margin: 4px 0;
  font-weight: 600;
}

#newComments li span {
  font-style: italic;
  align-self: flex-end;
  font-weight: normal;
}

#newComments button {
  align-self: flex-end;
  margin-top: 8px;
  background-color: red;
  color: white;
}

#newComments button:hover {
  background-color: rgb(168, 5, 5);
}
